<nav>
  <div class="site-title">
    <a href="/"><h1>Workout Logger</h1></a>
    <p>Log all your workouts here!</p>
  </div>
  <ul>
    <li><a href="/">Workouts</a></li>
    <li><a href="/workouts/add">Add Workout</a></li>
  </ul>
</nav>