<nav>
  <div class="site-title">
    <a href="/"><h1 class="title">Workout Logger</h1></a>
    <p class="description">Log all your workouts here!</p>
  </div>
  <ul>
    <li><a class="navbar" href="/">Workouts</a></li>
    <li><a class="navbar" href="/workouts/add">Add Workout</a></li>
  </ul>
</nav>