<html lang="en">
<%- include("../partials/header.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>
  <div class="testy">
    <div class="add-workout">
      <form action="/workouts" method="POST">
        <label for="date">Date:</label>
        <input type="text" id="date" name="date" required>
        <label for="time">Time:</label>
        <input type="text" id="time" name="time" required>
        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes" required></textarea>
        <button>Add</button>
      </form>
    </div>
  </div>

  <%- include("../partials/footer.ejs") %>
</body>
</html>