<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
  <div>
    <h2>Workout Logger</h2>
    <p>Welcome to workout logger!</p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>