@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    body{
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
      max-width: 1200px;
    }
    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }

    /* nav & footer styles */
    nav{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 60px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
    }
    nav h1{
      font-size: 3em;
    }
    nav a.navbar:hover{
      color: crimson;
      position: relative;
      top: -4px;
    }
    nav p, nav a{
      color: #777;
      font-weight: 300;
    }
    footer{
      color: #777;
      text-align: center;
      margin: 80px auto 20px;
    }
    h2{
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }

    /* index styles */
    .workouts a{
      display: block;
      margin: 40px 0;
      padding-left: 30px;
      border-left: 6px solid crimson;
    }
    .workouts a:hover h3{
      color: crimson;
    }
    .single-div:hover{
      position: relative;
      top: -4px;
    }

    /* details styles */
    .details{
      position: relative;
    }
    .delete{
      position: absolute;
      top: 0;
      right: 0;
      background: crimson;
      color: white;
      padding: 6px;
      border: 2px solid white;
      font-size: 1.2em;
      cursor: pointer;
      border-radius: 5px;
    }
    .delete:hover{
      color: crimson;
      background-color: white;
      border: 2px solid crimson;
    }

    /* add styles */
    .add-workout form{
      max-width: 400px;
      margin: 0 auto;
    }
    .add-workout input,
    .add-workout textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
      border-radius: 5px;
    }
    .add-workout input:hover, 
    .add-workout textarea:hover {
      border: 2px solid crimson;
      outline: none;
    }
    .add-workout label{
      display: block;
      margin-top: 24px;
    }
    .add-workout textarea{
      height: 120px;
    }
    .add-workout button{
      margin-top: 20px;
      background: crimson;
      color: white;
      padding: 6px;
      border: 2px solid white;
      font-size: 1.2em;
      cursor: pointer;
      border-radius: 5px;
    }
    .add-workout button:hover{
      color: crimson;
      background-color: white;
      border: 2px solid crimson;
    }

    @media screen and (max-width: 648px) {
      nav{
        justify-content: space-around;
      }
      .site-title{
        padding-bottom: 10px;
      }
      .description, .title{
        text-align: center;
      }
    }

    @media screen and (max-width: 432px) {
      .details-container {
        display: flex;
        justify-content: center;
      }
      .delete{
        position: relative;
      }
    }